.wrap {
  max-width: 1070px;
  margin: 0px auto;
  padding-right: 20px;
  padding-left: 20px;
}

body {
  color: #222222;
  font-family: "playFair";
}

.title {
  font-size: 60px;
  font-family: "calypso";
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  color: #a0c2df;
  margin-bottom: 40px;
}

.content {
  overflow: hidden;
}

.subtitle {
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  color: #000;
  margin-bottom: 60px;
}

.button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 20px;
  width: 100%;
  border: 2px solid #A0C2DF;
  background: #A0C2DF;
  font-size: 26px;
  color: #fff;
  font-family: "playFair";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}
.button:hover {
  background: #fff;
  color: #A0C2DF;
}

.paragraph {
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__phone {
  margin-right: 50px;
}
.header__logo {
  max-width: 290px;
  margin: 0px auto;
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}
.header__link {
  margin-right: 49px;
  font-size: 26px;
  text-decoration: none;
  color: inherit;
}
.header__link:hover:after {
  width: 100%;
}
.header__link:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  margin-top: 3px;
  background: #222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__language {
  font-size: 26px;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phone img {
  margin-right: 15px;
}
.phone a {
  color: inherit;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
}
.phone:hover a {
  text-decoration: underline;
}

.language {
  position: relative;
}
.language__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.language__heading img {
  width: 15px;
  margin-left: 10px;
}
.language__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  position: absolute;
  z-index: 3;
  background: #fff;
  width: 100%;
}
.language__body--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.language__item {
  margin: 5px 0;
  cursor: pointer;
}

.logo {
  width: 100%;
}
.logo img {
  width: 100%;
}

.mainSlider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  padding-top: 30px;
}
.mainSlider__item {
  height: 750px;
}
.mainSlider__item img {
  margin: 0px auto;
  height: 100%;
}
.mainSlider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
  margin: 0px auto;
}

.arrow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.arrow:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.arrow__prev {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-left: -80px;
}
.arrow__next {
  margin-right: -80px;
}

.aboutBlock__wrap {
  padding-top: 50px;
}
.aboutBlock__text {
  padding-bottom: 30px;
}

.fullSlider {
  padding-bottom: 100px;
}
.fullSlider__slide {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: auto 0px;
  height: 100%;
  width: 500px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.fullSlider__slide img {
  width: 100%;
}
.fullSlider__slide span {
  display: block;
  color: #b9b9b9;
  font-size: 19px;
  margin-top: 10px;
  margin-left: 5px;
}
.fullSlider .slick-list {
  overflow: unset;
}
.fullSlider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fullSlider .slick-center {
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.contact__wrap {
  padding-bottom: 60px;
}
.contact__title {
  text-align: left;
  font-size: 32px;
  margin-bottom: 40px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__button {
  max-width: 240px;
  margin-top: 40px;
}
.form input {
  padding: 20px 5px;
  border: none;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 20px;
  font-size: 26px;
  color: #000;
  font-family: "playFair";
}

.footer {
  background: #f1f1f1;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__logo {
  display: block;
  max-width: 195px;
}
.footer__col {
  max-width: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutSplit {
  background: url(../../img/photo-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.aboutSplit__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1230px;
  padding-bottom: 80px;
  padding-top: 50px;
}
.aboutSplit__img {
  margin-right: 40px;
  max-width: 540px;
}
.aboutSplit__img img {
  width: 100%;
}
.aboutSplit__info {
  max-width: 560px;
}
.aboutSplit__subtitle {
  margin-bottom: 50px;
}

.contactSplit__wrap {
  max-width: 1330px;
  padding-top: 100px;
  padding-bottom: 70px;
}
.contactSplit__title {
  margin-bottom: 70px;
}
.contactSplit__label {
  font-size: 26px;
  margin-bottom: 25px;
}
.contactSplit__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contactSplit__form {
  max-width: 550px;
  width: 100%;
}
.contactSplit__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}
.contactSplit__phone {
  margin-bottom: 30px;
}
.contactSplit__phone--margin {
  margin-bottom: 60px;
}
.contactSplit__phone a {
  font-size: 32px;
}
.contactSplit__socialsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSplit__social {
  margin: 0px 10px;
}

.gallery__wrap {
  max-width: 1270px;
  padding-top: 70px;
}

.grid {
  border-bottom: 1px solid #D9E7F2;
  margin-bottom: 60px;
}
.grid:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.grid__heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.grid__item {
  margin-bottom: 80px;
  margin-right: 10px;
  margin-left: 10px;
}
.grid__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -10px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 26px;
  color: #222;
}
.item__name {
  color: #222;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 5px;
}
.item__name:hover {
  text-decoration: underline;
}
.item__size {
  color: #767676;
  margin-bottom: 15px;
}

.itemCard__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1330px;
  padding-bottom: 70px;
  padding-top: 60px;
}
.itemCard__img {
  max-width: 50%;
  width: 100%;
  margin-right: 50px;
}
.itemCard__img img {
  width: 100%;
}
.itemCard__info {
  max-width: 570px;
}
.itemCard__paragraph {
  margin-bottom: 60px;
}
.itemCard__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.itemCard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.itemCard__col {
  width: 50%;
}
.itemCard__col h5 {
  text-align: right;
  font-size: 60px;
  font-family: "calypso";
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 10px;
  color: #a0c2df;
}
.itemCard__col span {
  margin-left: 25px;
  font-size: 24px;
  font-weight: bold;
}