@media screen and (max-width: 1150px) {
  .itemCard {
    background-position: center bottom;
    background-size: contain;
  }
  .itemCard__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .itemCard__img {
    max-width: 700px;
    margin-right: 0;
    margin-bottom: 60px;
  }
  .itemCard__img img {
    width: 100%;
  }
  .itemCard__info {
    max-width: 700px;
  }
}
@media screen and (max-width: 1050px) {
  .aboutSplit__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutSplit__img {
    margin-bottom: 50px;
    margin-right: 0;
  }

  .contactSplit__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactSplit__info {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 900px) {
  .mainSlider__item {
    height: auto;
    margin: 0px 30px;
  }
  .mainSlider__item img {
    height: unset;
  }
  .mainSlider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainSlider .arrow__prev {
    margin-left: 0px;
  }
  .mainSlider .arrow__next {
    margin-right: 0px;
  }

  .header__link {
    font-size: 18px;
    margin-right: 20px;
  }
  .header__language {
    font-size: 18px;
  }
  .header__phone {
    margin-right: 20px;
  }

  .phone a {
    font-size: 18px;
  }
  .phone img {
    width: 20px;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 35px;
  }

  .paragraph {
    font-size: 16px;
  }

  .header__logo {
    max-width: 150px;
  }
  .header__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header nav {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .header__link {
    font-size: 22px;
  }
  .header__link:last-child {
    margin-right: 0;
  }
  .header__language {
    font-size: 22px;
  }

  .arrow {
    width: 60px;
  }
  .arrow img {
    width: 100%;
  }

  .phone a {
    font-size: 22px;
  }
  .phone img {
    width: 30px;
  }

  .aboutBlock__text {
    padding-bottom: 0;
  }

  .fullSlider__slide {
    width: 250px;
  }
  .fullSlider__slide span {
    font-size: 14px;
  }

  .mainSlider__wrap {
    padding-bottom: 30px;
  }

  .button {
    font-size: 18px;
    padding: 10px;
  }

  .form input {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form__button {
    margin-top: 20px;
  }

  .contactSplit__label {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .contactSplit__phone {
    margin-bottom: 15px;
  }

  .itemCard__col {
    max-width: 100%;
    width: 100%;
  }
  .itemCard__col h5 {
    font-size: 20px;
  }
  .itemCard__col span {
    font-size: 20px;
  }
  .itemCard__subtitle {
    margin-bottom: 30px;
  }
  .itemCard__paragraph {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .mainSlider__item {
    height: auto;
  }
  .mainSlider__item img {
    height: auto;
    width: 100%;
  }

  .title {
    font-size: 26px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 24px;
  }

  .paragraph {
    font-size: 14px;
  }

  .mainSlider__arrows {
    width: 150px;
  }

  .aboutBlock__wrap {
    padding-bottom: 50px;
  }

  .phone a {
    font-size: 18px;
  }

  .fullSlider__slide {
    margin: unset;
  }

  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    max-width: 150px;
    margin-bottom: 20px;
  }
  .footer__col {
    max-width: 100%;
  }

  .grid__heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .grid__item {
    margin-bottom: 40px;
    width: 100%;
  }
  .grid__item img {
    width: 100%;
  }

  .itemCard__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .itemCard__col h5 {
    text-align: left;
  }
  .itemCard__col span {
    margin-left: 0;
  }
  .itemCard__img {
    margin-bottom: 30px;
  }
  .itemCard__wrap {
    padding-top: 30px;
  }
}