@font-face {
    font-family: 'calypso';
    src: url(../../fonts/Calypso.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'playFair';
    src: url(../../fonts/PlayfairDisplay-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'playFair';
    src: url(../../fonts/PlayfairDisplay-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}