@media screen and (max-width: 1150px){
    .itemCard{

        background-position: center bottom;
        background-size: contain;
        &__wrap{
            flex-direction: column;
        }

        &__img{
            // width: 100%;
            max-width: 700px;
            margin-right: 0;
            margin-bottom: 60px;
            img{
                width: 100%;
            }
        }

        &__info{
            max-width: 700px;
        }
    }
}

@media screen and (max-width: 1050px){
    .aboutSplit{
        &__wrap{
            flex-direction: column;
        }

        &__img{
            margin-bottom: 50px;
            margin-right: 0;
        }
    }

    .contactSplit{
        &__body{
            flex-direction: column;
            align-items: center;
        }

        &__info{
            margin-right: 0;
            margin-bottom: 60px;
        }
    }

    
}

@media screen and (max-width: 900px){
    .mainSlider{
        &__item{
            height: auto;
            margin: 0px 30px;
            img{
                height: unset;
                // width: 100%;
            }
        }

        .slick-track{
            display: flex;
            align-items: center;
        }

        .arrow{
            &__prev{
                margin-left: 0px;
            }
        
            &__next{
                margin-right: 0px;
            }
        }
    }

    .header{
        &__link{
            font-size: 18px;
            margin-right: 20px;
        }

        &__language{
            font-size: 18px;
        }

        &__phone{
            margin-right: 20px;
        }
    }

    .phone{
        a{
            font-size: 18px;
        }
        img{
            width: 20px;
        }
    }
}

@media screen and (max-width: 600px){

    .title{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .subtitle{
        font-size: 18px;
        line-height: 35px;
    }

    .paragraph{
        font-size: 16px;
    }

    .header{
        &__logo{
            max-width: 150px;
        }

        &__wrap{
            padding-top: 20px;
            padding-bottom: 20px;
            justify-content: center;
            flex-wrap: wrap;
        }

        nav{
            width: 100%;
            justify-content: center;
            margin-bottom: 20px;
        }

        &__link{
            font-size: 22px;
            &:last-child{
                margin-right: 0;
            }
        }

        &__language{
            font-size: 22px;
        }
    }

    .arrow{
        width: 60px;
        img{
            width: 100%;
        }
    }

    .phone{
        a{
            font-size: 22px;
        }

        img{
            width: 30px;
        }
    }

    .aboutBlock{
        

        &__text{
            padding-bottom: 0;
        }
    }

    .fullSlider{
        &__slide{
            width: 250px;
            span{
                font-size: 14px;
            }
        }
    }

    .mainSlider{
        &__wrap{
            padding-bottom: 30px;
        }
    }

    .button{
        font-size: 18px;
        padding: 10px;
    }

    .form{
        input{
            font-size: 18px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &__button{
            margin-top: 20px;
        }
    }

    .contactSplit{
        &__label{
            font-size: 18px;
            margin-bottom: 15px;
        }

        &__phone{
            margin-bottom: 15px;
        }
    }

    .itemCard{
        &__col{
            max-width: 100%;
            width: 100%;
            h5{
                font-size: 20px;
            }
            span{
                font-size: 20px;
            }
        }

        &__subtitle{
            margin-bottom: 30px;
        }

        &__paragraph{
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 480px){
    .mainSlider{
        &__item{
            height: auto;
            img{
                height: auto;
                width: 100%;
            }
        }
    }

    .title{
        font-size: 26px;
    }

    .subtitle{
        font-size: 14px;
        line-height: 24px;
    }

    .paragraph{
        font-size: 14px;
    }

    .mainSlider{
        &__arrows{
            width: 150px;
        }
    }
    
    .aboutBlock{
        
        &__wrap{
            padding-bottom: 50px;
        }

        
    }

    .phone{
        a{
            font-size: 18px;
        }
    }

    .fullSlider{
        &__slide{
            margin: unset;
        }
    }

    .footer{
        &__wrap{
            flex-direction: column;
        }

        &__logo{
            max-width: 150px;
            margin-bottom: 20px;
        }

        &__col{
            max-width: 100%;
        }
    }

    .grid{
        &__heading{
            font-size: 20px;
            margin-bottom: 10px;
        }

        &__item{
            margin-bottom: 40px;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

    .itemCard{
        &__row{
            flex-direction: column;
            margin-bottom: 20px;
        }

        &__col{
            h5{
                text-align: left;
            }
            span{
                margin-left: 0;
            }
        }

        &__img{
            margin-bottom: 30px;
        }

        &__wrap{
            padding-top: 30px;
        }
    }
}